<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/books" method="post">
      Book Title: <input type="text" name="title">
      Book Info: <input type="text" name="snippet">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
