<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= @book.title %></h1>
    <p><%= @book.snippet %></p>
    <form method="post" action="/books/<%= @book.id %>">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete">
    </form>
  </body>
</html>
