<h1>Create a new Book</h1>

<form action="/books" method="POST">
  <input type="text" placeholder="Book Title" name="book[title]">

  <select name="book[author_id]">
    <% @authors.each do |author| %>
      <option value="<%= author.id %>" ><%= author.full_name %></option>
    <% end %>
  </select>

  <input type="text" placeholder="Book Snippet" name="book[snippet]">
  <input type="submit">
</form>
