<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Has Mnay Friends Through Flatiron Book App</title>
</head>
<body>
  <h1>Hello World</h1>
  <p>We are building an app to look at books</p>
  <a href='/books'>See All Books</a>
  <a href='/authors'>See All Authors</a>
</body>
</html>
